.card {
    max-width: 18rem !important;
    width: 18rem !important;
    height: 15rem !important;
    max-height: 15rem !important;
}

.card-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-text {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}